* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Google Sans", Arial, Helvetica, sans-serif;
  }
  /* navigation section style */
  .nav-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    height: 60px;
    align-items: center;
    position: fixed;
    background-color: #fff;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
  }
  .nav-container .nav-logo .tabletview {
   display: none;
  }
  /* it needs a fixed position i am coming back for it */
  .nav-container .link {
    display: inline-flex;
    text-decoration: none;
    font-size: 16px;
    line-height: 24px;
    font-weight: 500;
    color: #202124;
  }
  .nav-container .nav-logo {
    width: 12%;
    text-align: right;
  }
  
  .nav-container .nav-logo a {
    display: inline-flex;
  }
  .nav-container .nav-logo a img {
   height: 25px;
   width: 25px;
   object-fit: contain;
  }
  
  .nav-container .nav-logo a h4 span {
    font-weight: 400;
    line-height: 22px;
    color: #5f6368;
    padding-left: 5px;
  }
  .nav-container .nav-link {
    width: 52%;
    display: flex;
    justify-content: flex-start;
   
  }
  .nav-container .nav-link .link {
    padding-left: 12px;
    padding-right: 12px;
  }
  
  .nav-container .nav-button {
    width: 33%;
  }
  
  .nav-container .nav-button .btn1 {
    color: #174ea6;
    padding: 12px;
  }
  .nav-container .nav-button .btn1:hover {
    background-color: #cbcbcb;
  }
  .nav-container .nav-button .btn2 {
    border: 1px solid#cbcbcb;
    padding: 12px 24px;
    margin-top: 8px;
    margin-left: 8px;
    border-radius: 5px;
    color:#1a73e8
  }
  .nav-container .nav-button .btn2:hover {
    border: 1px solid #174ea6;
    background-color: #cbcbcb;
  }
  .nav-container .nav-button .btn3 {
    border: 1px solid#174ea6;
    padding: 12px 24px;
    margin: 8px 0px 0px 8px;
    border-radius: 5px;
    color: #fff;
    background-color: #174ea6;
  }
  .nav-container .nav-button .btn3:hover {
    background-color: #083070;
  }
  /* end of navigation styling */
  
  /* row-1 styling for Download page */
  .double-cols {
    width: 100%;
    display: flex;
    justify-content: center;
    padding-top: 100px;
    padding-bottom: 50px;
    gap: 30px;
  }
  .row1 .col-1 {
    width: 40%;
    height: 100%;
    padding-top: 80px;
  }
  .row1 .col-1 h1 {
    font-weight: 400;
    line-height: 56px;
    font-size: 48px;
    color: #202124;
  }
  .row1 .col-1 p {
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    padding-top: 30px;
    padding-bottom: 30px;
    color: #5f6368;
  }
  .row1 .col-1 .btn1 {
    text-decoration: none;
    font-size: 16px;
    line-height: 23px;
    font-weight: 500;
    color:#fff;
    border: 1px solid#174ea6;
    padding: 12px 24px;
    margin: 8px 0px 0px 8px;
    border-radius: 5px;
    background-color: #174ea6;
  }
  .row1 .col-1 .btn1:hover {
    background-color: #083070;
  }
  .row1 .col-2 {
    width: 45%;
    height: 100%;
    padding-top: 50px;
  }
  .row1 .col-2 img {
    width: 90%;
    height: 100%;
    object-fit: contain;
  }
  /* end of row 1 styling */
  
  /* row 2 styling */
  .row-2-container {
    width: 100%;
    height: 500px;
    background-image: url("../downloadpage/images/background-lines.jpg");
    background-position:top;
    background-repeat: no-repeat;
    background-size:contain;
    text-align: center;
    margin-top: 100px;
  }
  .row-2-container h1 {
    font-size: 48px;
    line-height: 56px;
    font-weight: 400;
    color:#202124;
    margin-bottom: 30px;
  }
  .row-2-container p {
    font-size: 16px;
    line-height: 28px;
    font-weight: 400;
    color:#5f6368;
    margin-bottom: 30px;
  }
  .row-2-container .logo-container {
    height:60px;
    margin-bottom: 30px;
  }
  .row-2-container .logo-container a {
    display: inline-flex;
    margin-right: 30px;
  }
  .row-2-container .logo-container a img {
    height:100%;
    width: 170px;
  
  }
  .row-2-container .link a {
    text-decoration: none;
    font-size: 18px;
    font-weight: 300;
    line-height: 26px;
    color:#1a73e8;
    padding:4px 8px;
    border-radius: 4px;
  }
  .row-2-container .link a:hover {
  background-color:#cbcbcb;
  }
  /* end of row-2 styling */ 
  /* footer styling */
footer {
    width:100%;
    background-color: #f8f9fa;
  }
  footer .inner{
    width:90%;
    margin: auto;
    padding-top: 40px;
  }
  footer .inner .top-footer {
    display: flex;
    gap: 30px;
    padding-bottom: 40px;
    border-bottom: 1px solid gainsboro;
  }
  
  
  footer .inner .top-footer p {
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    color:#202124
  }
  footer .inner .top-footer p a {
    text-decoration: none;
    color:#1967d2;
  }
  footer .inner .top-footer a img {
   width:30px;
   height: 30px;
  }
  footer .inner .bottom-footer {
    display: flex;
    justify-content:space-between;
    padding-top:40px;
    padding-bottom: 30px;
  }
  footer .inner .bottom-footer a {
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    color:#202124
  }
  footer .inner .bottom-footer .left {
    width:5%;
  }
  footer .inner .bottom-footer .middle {
    width:70%;
  }
  footer .inner .bottom-footer .right {
    width:15%;
  }
  footer .inner .bottom-footer .middle {
    display: flex;
    justify-content: space-between;
  }
  footer .inner .bottom-footer .middle .middle-left {
    display: inline-flex;
    gap:40px;
  }
  footer .inner .bottom-footer .right select{
  width: 100%;
  border: none;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  color:#202124;
  background-color: inherit;
  }
  footer .inner .bottom-footer .right select:active {
    border:1px solid black;
    background-color: #cbcbcb;
  }
  footer .inner .bottom-footer .right select option{
   background-color: #f8f9fa;
  }
  /* end of footer styling */
  .destop-s {
    display: none !important;
  }
  .tabletview {
    display: none !important;
  }
  @media (max-width:1024px) {
    .destop-l {
        display: none !important;
    }
    .nav-container {
        width: 100%;
        gap: 20px;
    }
    .nav-container .nav-logo {
        width: 15%;
        text-align: right;
    }
    .nav-container .nav-link {
        width: 45%;
    }
    .nav-container .nav-button {
        width: 38%;
    }
    .double-cols {
        width: 100%;
    }
    .row1 .col-1 {
        width: 40%;
    }
    .row1 .col-2 {
        width: 45%;
    }
    .row1 .col-2 img {
        width: 90%;
    }
    .row-2-container {
        width: 100%;
      margin-top: 70px;
    }
    footer .inner .bottom-footer .middle-right, footer .inner .bottom-footer .right{
        display: none;
      }
      footer .inner .bottom-footer {
        justify-content: flex-start;
        gap:30px;
      }
      footer .destop-s {
        display: flex !important;
        gap: 30px;
      }
      footer .destop-s a {
        text-decoration: none;
        font-size: 16px;
        font-weight: 500;
        line-height: 24px;
        color:#202124;
      }
      footer .destop-s .right select{
        width: 300px;
        border: none;
        font-size: 16px;
        font-weight: 500;
        line-height: 24px;
        color:#202124;
        background-color: inherit;
        }
        footer .destop-s .right select:active {
          border:1px solid black;
          background-color: #cbcbcb;
        }
        footer .destop-s .right select option{
         background-color: #f8f9fa;
        }
  }
@media (max-width:768px) {
  .nav-link {
    display: none !important;
  }
}
  